<div class="experience-cotainer">
  <h2 class="heading">経歴</h2>
  <ul class="timeline">
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2019年10月</p>
        <p>天辰様より毎週1度対面形式によるRuby言語の勉強開始</p>
      </div>
    </li>
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2020年2月</p>
        <p>サルでもわかるGit入門を利用しGitの勉強開始</p>
      </div>
    </li>
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2020年4月</p>
        <p>ProgateでCommond line、Ruby on rails等の勉強開始</p>
      </div>
    </li>
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2020年5月</p>
        <p>Rails Girlsと株式会社万葉様の新入社員教育用カリキュラムel-trainingの勉強開始</p>
        <p></p>
      </div>
    </li>
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2020年9月</p>
        <p>Ruby技術者認定試験Silverの勉強開始</p>
      </div>
    </li>
    <li>
      <div class="timeline-content">
      <p class="timeline-date">2020年11月</p>
        <p>Ruby技術者認定試験Silverに合格、ポートフォリオの製作開始</p>
      </div>
    </li>
  </ul>

</div>