<div class="dream-container">
  <h2 class="heading">目指すエンジニア像</h2>
  <p class="dream-text">私は将来、お客様からの要望や課題を確実に解決できるようなエンジニアになりたいです。<br>
  その理由は、前職で姫島村の国民健康保険を担当をしていたことがあり、国民健康保険の加入・脱退の情報を管理するシステムを利用していたのですが、その時に、システムの不具合が起こることがありました。<br>
  しかし、ベンダーに問い合わせるとすぐに復旧し、被保険者の方々にも迷惑が及ぶこともなく解決してくれたことがありました。<br>
  また、システムの機能追加を要望するとバージョンアップが行われ、快適に業務を進めることができたということもありました。<br>
  そうした経験がありますので、お客様からも安心して頼られるエンジニアとして貢献していきたいです。</p>
</div>