<div class="product-container">
  <h2 class="heading">制作物</h2>
  <div class="product-container-text">
  <p>制作物①　<span>ポートフォリオ</span><br>
  <br>
  初めてのポートフォリオ制作ということで、時間がかかりましたが、多くのサイトを参考にして完成することが出来ました。<br>
  苦労した点は、背景はどういったものを使うのか、字体は何を使うのか、文字の大きさ・配置をどうするのかを決めたことです。<br>
  ご覧になった方々が見やすいように、ということを意識して作成したのですが、それを実装するにあたりCSSが動作しないことが多々ありましたので苦労しました。</p>
  <br>
  <p>制作物②　<span>el-training</span><br>
  <br>
  製作途中なのですが、天辰様からのご指導のもとtasukunという名前のタスク管理システムを作成しています。<br>
  お客様からの依頼を管理し誰が担当しているのか、進行状況はどうか、ログイン時間はどれくらいか等を管理するシステムです。<br>
  進行状況としましては、タスクの一覧画面、詳細画面、作成画面、編集画面、削除機能等を追加し、flashメッセージを表示させる等の機能を追加しています。<br>
  私の中ではspecの部分が難しいので理解を深めたいです。<br>
  そしてel-trainingを勉強するにあたりGitHubの使い方も重要だということがわかりました。<br>
  共同開発を進める上では必須のツールだと認識しています。GitHubの勉強もやっていきたいです。</p>
  </div>