<div class="profile-container">
  <h2 class="heading">プロフィール</h2>
  <div class="profile-content">
    
    <p class="profile-txt">
      大分県姫島村出身の須賀崇博です。生年月日は昭和63年11月3日です。
      <br>
      <br>
      2019年10月より貴社の天辰様からご指導をいただきRuby言語の勉強開始。<br>
      現在は初心者向けのプログラミング学習サイトProgateでRuby、Ruby on rails、HTML & CSSを勉強しつつ、<br>
      Ruby技術者認定試験Goldの取得を目指しています。<br>
      趣味はテレビゲーム、読書、ジョギングです。<br>
    </p>
    <img class="profile-img" src="/2020-12-22-131532.jpg" alt>
    </div>
  </div>
</div>