<div class="skill-container">
  <h2 class="heading">スキル</h2>
  
  <div class="skill-container-item">
    <p class="skill-container-rank"><span>Ruby</span>　★★★☆☆</p>
    <p>Ruby技術者認定試験Silverに合格したので、次はGold取得を目指しています。</p>
  </div>
  <div class="skill-container-item">
    <p class="skill-container-rank"><span>Ruby on Rails</span>　★★☆☆☆</p>
    <p>el-trainingで勉強中です、さらに勉強して習得していきたいです。</p>
  </div>
  <div class="skill-container-item">
    <p class="skill-container-rank"><span>HTML</span>　★★☆☆☆</p>
    <p>Progateで主に勉強していますが、このポートフォリオ制作の過程でタグの付け忘れなどで、CSSが動作しない事がありましたので気を付けていきたいです。</p>
  </div>
  <div class="skill-container-item">
    <p class="skill-container-rank"><span>CSS</span>　★★☆☆☆</p>
    <p>HTMLと同時に勉強していますが、paddingとmarginの考え方、インラインボックスとブロックボックスの考え方等、理解不足の部分があるので勉強していきたいです。</p>
  </div>
  <div class="skill-container-item">
    <p class="skill-container-rank"><span>jQuery</span>　★☆☆☆☆</p>
    <p>Progateで少し触れたのですが、HTMLやCSSで表現できないような動きを実現できるということで興味を持っています、いずれは習得したいです。</p>
  </div>
  <p class="skill-container-text">私が主に勉強しているのは上記に挙げているものです。どれが一番好きかを決めることは難しく、全てに興味を持っています。<br>
  これから特に力を入れていきたいのはRuby on Railsと、Ruby技術者認定試験Goldの取得になります。
  </p>
</div>